body {
  text-align: center;
  background: linear-gradient(to top, #0bc854, #b2c55d);
  height: 100vh;
  color: white;
}

h1 {
  margin-top: 30px;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  margin-top: 15px;
  font-size: 26px;
  font-weight: bold;
}

.btn-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.btn {
  background: rgba(255, 255, 255, 0.4);
  padding: 18px 45px;
  border-radius: 30px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-5px);
}

.signup-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: white;
}
