body {
  background: linear-gradient(to top, #1ad1ff, #b93bff);
}

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.card {
  width: 420px;
  background: linear-gradient(to top, #b93bff, #1ad1ff);

  border-radius: 10px;
  padding: 28px;
}
a {
  text-decoration: none;
  color: white;
}

.title {
  font-weight: 600;
  text-align: center;
}

.subtitle {
  color: #6b6b6b;
}

.flex {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
}

.radio {
  display: flex;
  gap: 14px;
  margin-top: 6px;
}

.radio label {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
}

.buttons {
  margin-top: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  background: transparent;
}

.btn.pri {
  background: #111;
  color: #fff;
  border: none;
}

.signin {
  margin-top: 16px;
  text-align: center;
  color: #6b6b6b;
}
