body {
  text-align: center;
  background: linear-gradient(to top, #1ad1ff, #b93bff);
  height: 100vh;
}

.container {
  width: 350px;
  margin: 60px auto;
  padding: 25px;
  background: linear-gradient(to top, #b93bff, #1ad1ff);

  border-radius: 8px;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
h2 {
  margin-bottom: 5px;
  font-size: 22px;
}

label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.btns {
  display: flex;
  gap: 1rem;
}

.btn {
  width: 50%;
  padding: 10px;
  background: black;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  background: #333;
}
